//definizione dei colori primari
$ea-light-color: rgb(243, 243, 243);
$ea-dark-color: rgb(22, 22, 22);
$origin-brand-color: rgb(255, 71, 71);

//import del font
@font-face {
  font-family: "Electronic Arts Text";
  src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot");
  src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.svg#Electronic Arts Text")
      format("svg");
}

// vengono definite le caratteristiche del titolo delle varie card(buttons, colors, typography, etc)
// successivamente la singola card estenderà queste caratteristiche
%section-title {
  background-color: $ea-dark-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 0.1rem 0 0.1rem 0;
  color: $ea-light-color;
  height: 2.8rem;
  font-size: 1.5rem;
}

%elements-title {
  background-color: $origin-brand-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 0.1rem 0 0.1rem 0;
  color: $ea-light-color;
  height: 2.6rem;
  font-size: 1.3rem;
}

// permette di definire le caratteristiche di un bottone sulla base del suo colore, bordo e sfondo
@mixin buttons(
  $bg-color,
  $color: $ea-dark-color,
  $border-dim,
  $border-color,
  $border-style
) {
  border-radius: 3px;
  background-color: $bg-color;
  border: $border-dim $border-style $border-color;
  color: $color;
  height: 70px;
  width: 160px;
  font-size: 1.3rem;
  font-weight: 100;
  margin-left: 1rem; //da togliere su ea;
}

// permette di definire le caratteristiche delle varie card, sulla base delle loro dimensioni e colori
@mixin section($height, $background: $ea-light-color) {
  width: 100%;
  height: $height;
  background-color: $background;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

// con  questo ciclo creo le classi col-1, col-2, col-3 per la definizione del layout a tre colonne
$values: 1, 2, 3;
@each $value in $values {
  .col-#{$value} {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}

// con  questo ciclo creo le classi da color1 a color3 per i campioni dei colori nella card color
@each $value in $values {
  .color#{$value} {
    border: 1px solid black;
    height: 4.7rem;
    width: 90%;
    // a seconda del numero ovviamente cambia il background --> Con un if posso scegliere quale impostare
    @if $value == 2 {
      background-color: $ea-dark-color;
    }
    @if $value == 3 {
      background-color: $origin-brand-color;
    }
  }
}

// Inizio definizione caratteristiche con nesting
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electronic Arts Text";
  // // .rotate {
  // //   width: 1em;
  // //   height: 0.5em;
  // //   background-color: yellow;
  // //   position: relative;
  // //   margin: 40px;
  // // }
  // // .rotate::before,
  // // .rotate::after {
  // //   transition: transform, top, 0.4s ease-in-out;
  // //   display: inline-block;
  // //   font-size: 14px;
  // //   font-weight: bold;
  // // }
  // // .rotate::before {
  // //   content: "|";
  // //   transform: rotate(-45deg);
  // //   position: absolute;
  // //   border-color: red;
  // //   right: 72%;
  // // }
  // // .rotate::after {
  // //   content: "|";
  // //   transform: rotate(45deg);
  // //   position: absolute;
  // //   border-color: blue;
  // //   left: 72%;
  // // }
  // // .rotate:hover::before {
  // //   transform: rotate(-135deg);
  // // }
  // // .rotate:hover::after {
  // //   transform: rotate(135deg);
  // // }

  body {
    height: 100vh;

    .container {
      height: 100%;
      background-color: $ea-dark-color;
      display: flex;
      gap: 0.8rem;
      padding: 0.5rem;

      .section-title {
        @extend %section-title;
      }

      // layout della prima colonna
      .col-1 {
        //layout sezione colors
        .colors {
          @include section(33.33%);
          .colors-content {
            display: flex;
            width: 100%;
            height: calc(100% - 2.8rem);
            padding: 0 1rem 0 1rem;
            font-size: 1.3rem;
            .colors-square {
              display: flex;
              flex-direction: column;
              width: 25%;
              justify-content: space-around;
            }
            .colors-list {
              height: 100%;
              padding-left: 1rem;
              ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                list-style-type: circle;
              }
            }
          }
        }
        //layout sezione colors
        .buttons {
          @include section(67.67%);

          .buttons-content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: calc(100% - 2.8rem);
            button {
              transition: transform 0.3s ease-in-out;
              cursor: pointer;
            }
            button:hover {
              transform: scale(1.08);
            }

            .button-description {
              padding-left: 4rem;
              font-size: 1.3rem;
              display: flex;
              align-items: center;
              ul {
                list-style-type: circle;
              }
            }
            .button {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .button1 {
              button {
                @include buttons(
                  transparent,
                  $ea-dark-color,
                  2px,
                  $ea-dark-color,
                  solid
                );
              }
            }
            .button2 {
              background-color: $ea-dark-color;
              color: $ea-light-color;
              button {
                @include buttons(
                  transparent,
                  $ea-light-color,
                  2px,
                  $ea-light-color,
                  solid
                );
              }
            }
            .button3 {
              background-color: $origin-brand-color;
              color: $ea-light-color;
              button {
                @include buttons(
                  $ea-light-color,
                  $ea-dark-color,
                  0,
                  transparent,
                  none
                );
              }
            }
            .button4 {
              button {
                @include buttons(
                  $origin-brand-color,
                  $ea-light-color,
                  0,
                  transparent,
                  none
                );
              }
            }
          }

          $bottoni: 1, 2, 3, 4;
          @each $value in $bottoni {
            .button#{$value} {
              display: flex;
              padding: 0.5rem;
              height: 8rem;
            }
          }
        }
      }

      // layout della seconda colonna
      .col-2 {
        //layout sezione logos & icons
        .logos-icons {
          @include section(32.8%);

          .icons-content {
            height: calc(100% - 4rem);
            display: flex;
            flex-direction: column;
            padding-bottom: 0;
            .logos1 {
              display: flex;
              justify-content: center;
              height: 33%;
              img:hover {
                cursor: pointer;
              }
            }
            .logos2 {
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid black;
              height: 42%;
              padding: 2rem 1rem 2rem 1rem;

              & :nth-child(2),
              & :nth-child(3) {
                cursor: pointer;
              }
            }
            .icons {
              height: 25%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding-top: 0.8rem;
              .nav-icons {
                display: flex;
                align-items: center;
                width: 40%;
                justify-content: space-around;
                .square-icon {
                  background-color: black;
                  height: 42px;
                  width: 42px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  &:first-child {
                    fill: grey;
                  }
                  &:first-child:hover {
                    fill: lightgrey;
                  }
                  &:nth-child(2),
                  &:nth-child(3) {
                    fill: grey;
                  }
                  &:nth-child(2):hover,
                  &:nth-child(3):hover {
                    fill: white;
                  }
                }
                .kebab {
                  background-color: white;
                  height: 42px;
                  width: 42px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;

                  svg:hover {
                    fill: $origin-brand-color;
                    height: 30px;
                    width: 30px;
                  }
                }
              }
              .social-icons {
                display: flex;
                align-items: center;
                width: 60%;
                justify-content: space-around;
                background-color: rgb(225, 225, 225);
                height: 42px;

                & {
                  cursor: pointer;
                  .icosoc {
                    transition: transform 0.3s ease-in-out;
                  }
                  .icosoc:hover {
                    transform: scale(1.4);
                  }
                }
              }
            }
          }
        }
        //layout sezione typography
        .typography {
          @include section(33.33%);
          .typo-content {
            height: calc(100% - 2.8rem);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .header {
              display: flex;
              .header-text {
                width: 50%;
                font-size: 4.6rem;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .header-description {
                font-size: 1.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                ul {
                  list-style-type: circle;
                }
              }
            }
            .title {
              display: flex;
              .title-text {
                width: 50%;
                font-size: 4rem;
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .title-description {
                font-size: 1.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                ul {
                  list-style-type: circle;
                }
              }
            }
            .body {
              display: flex;
              .body-text {
                width: 50%;
                font-size: 2.5rem;
                font-weight: 100;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .body-description {
                font-size: 1.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                ul {
                  list-style-type: circle;
                }
              }
            }
          }
        }
        //layout sezione atomic title
        .atomic-title {
          @include section(33.33%, $ea-dark-color);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: $ea-light-color;

          h1 {
            font-size: 4.6rem;
          }
          p:first-of-type {
            color: $origin-brand-color;
            font-size: 3.8rem;
            font-weight: bold;
          }
          p:nth-of-type(2) {
            font-size: 2.8rem;
            font-weight: bold;
          }

          .loader {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 30%;
            left: 45%;

            span {
              border: 0;
              margin: 0;
              width: 5rem;
              height: 5rem;
              position: absolute;
              border-radius: 50%;
              animation: spin 2s ease infinite;
              transition: all 1s;
            }
            & :first-child {
              background-color: #21a6d6;
              animation-delay: -1.5s;
            }
            & :nth-child(2) {
              background-color: #ffd960;
              animation-delay: -1s;
            }
            & :nth-child(3) {
              background-color: #d7415d;
              animation-delay: -0.5s;
            }
            & :last-child {
              background-color: #1f95f2;
            }
            @keyframes spin {
              0% {
                transform: translate(0) scale(0);
              }
              25% {
                transform: translate(200%) scale(1.5);
              }
              50% {
                transform: translate(200%, 200%) scale(0);
              }
              75% {
                transform: translate(0, 200%) scale(1.5);
              }
              100% {
                transform: translate(0) scale(0);
              }
            }
          }
        }
      }
      // layout della terza colonna
      .col-3 {
        .elements {
          @include section(100%);
          .elements-content {
            height: calc(100% - 2.8rem);
            display: flex;
            flex-direction: column;

            .elements-title {
              @extend %elements-title;
            }
            .components {
              display: flex;
              height: 70%;
              padding: 0.5rem;
              column-gap: 2rem;
              .components-1 {
                display: flex;
                width: 50%;
                flex-direction: column;
                justify-content: center;
                row-gap: 1.2rem;
                margin: 1rem;
                .article-card {
                  display: flex;
                  flex-direction: column;
                  transition: transform 0.3s ease-in-out;
                  box-shadow: 8px 8px 8px 1px rgba(77, 76, 76, 0.2),
                    -8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                    8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                    -8px 8px 8px 1px rgba(77, 76, 76, 0.2);

                  @keyframes changeshadow {
                    0% {
                      box-shadow: 8px 8px 8px 1px rgba(77, 76, 76, 0.2),
                        -8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                        8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                        -8px 8px 8px 1px rgba(77, 76, 76, 0.2);
                    }
                    25% {
                      box-shadow: 8px 18px 8px 1px rgba(77, 76, 76, 0.2),
                        -8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                        8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                        -8px 18px 8px 1px rgba(77, 76, 76, 0.2);
                    }
                    50% {
                      box-shadow: 8px 22px 8px 1px rgba(77, 76, 76, 0.2),
                        -8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                        8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                        -8px 22px 8px 1px rgba(77, 76, 76, 0.2);
                    }
                    75% {
                      box-shadow: 8px 24px 8px 1px rgba(77, 76, 76, 0.2),
                        -8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                        8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                        -8px 24px 8px 1px rgba(77, 76, 76, 0.2);
                    }
                    100% {
                      box-shadow: 8px 28px 8px 1px rgba(77, 76, 76, 0.2),
                        -8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                        8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                        -8px 28px 8px 1px rgba(77, 76, 76, 0.2);
                    }
                  }
                  &:hover {
                    transform: translateY(-0.5rem);
                    animation-name: changeshadow;
                    animation-duration: 0.3s;
                    box-shadow: 8px 28px 8px 1px rgba(77, 76, 76, 0.2),
                      -8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                      8px -4px 8px 1px rgba(77, 76, 76, 0.2),
                      -8px 28px 8px 1px rgba(77, 76, 76, 0.2);
                  }
                  .article-image {
                    width: 100%;
                    height: 12.4rem;
                    background-color: grey;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $ea-light-color;
                    font-size: 2.6rem;
                    border: 1px solid gray;
                  }

                  .article-content {
                    padding: 1rem 0 3.5rem 1.3rem;
                    border: 1px solid rgb(200, 200, 200);
                    border-top: none;
                    display: flex;
                    flex-direction: column;
                    row-gap: 1rem;
                    .article-info {
                      display: flex;
                      font-size: 1.35rem;
                      font-weight: bold;
                      & :first-child {
                        color: $origin-brand-color;
                        width: max-content;
                      }
                      & :last-child {
                        padding-left: 0.5rem;
                      }
                    }
                    .article-title {
                      font-size: 2.6rem;
                      font-weight: bold;
                    }
                    .article-text {
                      font-size: 1.8rem;
                      font-weight: 100;
                      padding-right: 1rem;
                    }
                  }
                }
              }
              .components-2 {
                display: flex;
                width: 50%;
                flex-direction: column;

                .banners {
                  height: 50%;
                  display: flex;
                  flex-direction: column;
                  row-gap: 2rem;
                  padding-top: 3.3rem;
                  .banners-content {
                    background-image: url("ea-banner1.jpg");
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: 2rem 1rem 2rem 1rem;
                    height: 50%;
                    font-size: 1.2rem;
                    font-weight: bold;
                    row-gap: 1.5rem;
                    p {
                      text-align: center;
                    }

                    button {
                      @include buttons(
                        transparent,
                        $ea-dark-color,
                        2px,
                        $ea-dark-color,
                        solid
                      );
                      width: 90%;
                      padding: 0.5rem 0 0.5rem 0;
                      margin-left: 0;
                      cursor: pointer;
                      transition: transform 0.3s ease-in-out;
                      &:hover {
                        transform: scale(1.08);
                      }
                    }
                  }
                }
                .dropdown {
                  height: 50%;
                  display: flex;
                  flex-direction: column;
                  row-gap: 1.2rem;
                  cursor: pointer;
                  #dropdown-container {
                    height: fit-content; //Necessaria una modifica per far sì che il layout non subisca modifiche durante la transizione
                    padding: 1rem;
                    background-color: lightgray;
                    div {
                      width: 130px; // p{width} + 2px

                      p {
                        width: 128px; //Dimensione d'esempio
                        padding: 1rem;
                        font-size: 1.25rem;
                        background-color: white;
                        span {
                          display: inline-block;
                          transform: rotate(90deg);
                          margin-left: 0.5rem;
                        }
                      }

                      ul {
                        //Posizionamento
                        width: 195px; //Dimensione d'esempio, modificabile in base alle esigenze di layout
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        //Stile
                        padding: 0 1rem; // Deve corrispondere al padding-left di 'p'
                        list-style: none;
                        margin-top: 0.5rem;
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: 100;
                        color: $ea-dark-color;
                        background-color: $ea-light-color;
                        opacity: 0.8;
                        li {
                          padding: 0.5rem 0;
                          &:first-child {
                            padding-top: 1rem; // Deve corrispondere al padding-left di 'p'
                          }
                          &:last-child {
                            padding-bottom: 1rem; // Deve corrispondere al padding left di 'p'
                          }
                          &:hover {
                            color: $origin-brand-color; //Da sostituire con 'origin-brand-color'
                          }
                        }

                        //Animazione
                        max-height: 0;
                        overflow: hidden;
                        -webkit-transition: max-height 0.2s ease-in;
                        transition: max-height 0.2s ease-in;
                      }

                      &:hover {
                        color: $origin-brand-color;
                        cursor: pointer;
                        span {
                          transform: rotate(-90deg);
                        }
                        ul {
                          max-height: 256px;
                          opacity: 0.8;
                          //-webkit-box-shadow: 5px 5px 15px 5px #A0A0A0;
                          //box-shadow: 5px 5px 15px 5px #A0A0A0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.game-card-wrapper {
  min-width: 250px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 30%;
  .elements-title{
    @extend %elements-title
  }

  & :first-child {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
  }
  .logo_img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 20%;
    height: 20%;
    transition: top 0.4s ease-in-out;
  }

  .trasparente {
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("assets/Fifa-Mbappe.jpg");
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 250px;
    white-space: nowrap;
    position: relative;
    transition-duration: opacity 0.4s ease-in-out;
    &::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: opacity 0.4s ease-in-out;
      background: linear-gradient(
        90deg,
        rgba(10, 3, 90, 1),
        rgba(245, 20, 28, 1)
      );
      opacity: 0;
    }

    a {
      font-size: 0.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-decoration: none;
      font-weight: 400;
      display: none;
      color: white;
    }
  }

  // added hover effect blue/red

  .trasparente:hover {
    box-shadow: 0 14px 20px 0 rgb(80 80 80 / 24%);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(10, 3, 90, 0.84),
        rgba(245, 20, 28, 0.84)
      );
      background-size: 100%;
      background-position: center;
      opacity: 0.84;
    }

    .logo_img {
      top: 30%;
      z-index: 2;
    }
    a {
      display: unset;
      color: white;
    }
  }
}
