@use "px-to-rem" as c;
@use "variabili" as v;

// estensione per un display flex con allineamento centrale
%flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// estensione per un display flex centrato su entrambi gli assi
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// classe per assegnare overflow hidden a tutti gli elementi che non siano l'aside
// lo scopo è quello di non far scrollare il resto della pagina mentre l'aside è aperta

.aside-wrapper--overflow-hidden{
  overflow: hidden;
}

//classe per nascondere l'aside
.aside-wrapper--hidden {
  transform: translate(-100%);
}

.aside-wrapper {
  background-color: white;
  width: 33%;
  max-width: c.rem(415px);
  min-width: c.rem(360px);
  height: 100vh;
  transition: transform 0.4s ease-in-out;
  @extend %flex-column;
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
  position: absolute;
  overflow: hidden;
  z-index: 3;
  
  .aside-wrapper--scroll-bar{
    width: 100%;
    height: 100%;
    position:absolute;
    right:-17px;
    overflow: auto;
  }

  //dimensionamento della parte superiore dell'aside: Title e cross
  &-title {
    margin:auto;
    width: 92%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 1.8rem;
    a {
      text-decoration: none;
      font-weight: v.$header-w;
      color: v.$ea-grey-color;
      letter-spacing: .015rem;
    }
    //Cross sign
    svg {
      transform: translate(-100%);
      width: 1rem;
      height: 1rem;
      margin-right: 1rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-main {
    @extend %flex-column;
    width: 100%;
    padding-right: 2rem;

    &-top-card-content {
      width: 92%;
      height: auto;
      margin: 1rem 0 1.3rem;
      position: relative;

      &-img {
        width: 100%;
      }

      &:hover{

        .logo_img_ea{
          width: 30%;
        }
      }
    }

    //classi modificate per trasformazione del loghi scalati in grandezza
    .logo_img_ea{
      transition: width 0.3s ease-in-out;
      width: 25%;
    }

    .logo_img_cards{
      transition: width 0.3s ease-in-out;
      width: 50%;
    }

    .logo_img_cards--small{
      transition: width 0.3s ease-in-out;
      width: 40%;
    }

    //gruppo di cards al di sotto della card principale
    &-cards {
      width: 92%;
      @extend %flex-center;
      flex-wrap: wrap;
      gap: v.$small-gap;
      margin-bottom: 4rem;

      &-content {
        @extend %flex-center;
        position: relative;
        width: calc(50% - (v.$small-gap / 2));
        
        &-img {
          width: 100%;
          @extend %flex-center;
        }

        &:hover{

          .logo_img_cards{
            width: 57%;
          }

          .logo_img_cards--small{
            transition: width 0.3s ease-in-out;
            width: 47%;
          }
        }
      }
    }
  }
}


@media (max-width: 767px) {
  .aside-wrapper {
    width: 100%;
    max-width: unset;
    &-main {
      padding-right: 0.2rem;

      &-cards {
        margin-top: v.$medium-gap/2;
        gap: v.$medium-gap;

        &-content {
          width: calc(50% - (v.$medium-gap / 2));
        }
      }
    }
  }
}
