@use 'buttons';
@use 'variabili';
// caratteristiche dei banner

// caratteristiche generali del banner
%banner{

    background: transparent;
    display: flex;
}

// classe contenente l'intero banner
.banner{
    
    @extend banner;
    
    
    .banner1{
        color: variabili.$ea-light-color;
        &:nth-child(2){
            @include buttons(transparent,variabili.$ea-light-color, 2px, variabili.$ea-light-color, solid);  //estendo la mixin dei bottoni
        }
    }
    .banner2{
        color: variabili.$ea-dark-color;
        &:nth-child(2){
            @include buttons(transparent, variabili.$ea-dark-color, 2px, variabili.$ea-dark-color, solid); //estendo la mixin dei bottoni
        }
        
    }

}