/* MARCO SIMILE = BANNER TOP F1 22 */

@use "buttons" as b;
@use "variabili" as v;
@use "px-to-rem" as r;

.banner-top {
  width: 100%;
  max-height: r.rem(600px);
  height: r.rem(549px);
  position: relative;
  position: relative;

  &__bg-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./assets/f1-banner-top.png);
    background-color: v.$ea-light-color ;

    svg {
      display: none;
    }
  }

  &__container {
    height: 100%;
    width: 100%;
    background-color: none;
    position: absolute;
    left: r.rem(-288px);
    top: r.rem(96px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__contents {
    height: 50%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;

    &__title {
      font-size: v.$header;
      font-weight: v.$header-w;
      font-family: "Electronic Arts Text";
    }

    &__p {
      margin-bottom: r.rem(40px);
      font-size: r.rem(18px);
    }

    &__button {
      font-family: "Electronic Arts Text";
      font-size: r.rem(18px);
      font-weight: 100;
      padding: r.rem(16px) r.rem(18px);
      border-radius: r.rem(3px);
      cursor: pointer;

      a {
        text-decoration: none;
        color: v.$ea-light-color;
      }

      @include b.buttons(v.$ea-dark-color, v.$ea-light-color, 0px, none, none);

      &:hover {
        padding: r.rem(18px) r.rem(22px);
        margin: r.rem(-2px) r.rem(-4px);
      }
    }
  }
}

/* RESPONSIVITY AND MEDIA QUERIES */

@media (max-width: 1920px) {
  .banner-top {
    &__container {
      top: r.rem(128px);
    }

    &__contents {
      &__title {
        font-size: r.rem(50px);
      }
    }
  }
}

@media (max-width: 1400px) {
  .banner-top {
    display: flex;
    flex-direction: column;
    position: initial;

    &__bg-image {
      height: 60%;
      background-size: cover;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      svg {
        display: block;
        margin-right: r.rem(136px);
        height: r.rem(208px);
        width: r.rem(400px);
      }
    }

    &__container {
      height: 40%;
      position: initial;
      background-color: none;
    }

    &__contents {
      height: 100%;
      width: 100%;
      justify-content: center;

      &__title {
        font-size: r.rem(40px);
      }

      svg {
        display: none;
      }

      &__p {
        margin: 0.75rem;
      }

      &__button {
        padding: r.rem(16px) r.rem(310px);

        @include b.buttons(
          v.$ea-dark-color,
          v.$ea-light-color,
          0px,
          none,
          none
        );

        &:hover {
          padding: r.rem(18px) r.rem(320px);
          margin: r.rem(-2px) r.rem(-4px);
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .banner-top {
    &__bg-image {
      height: 50%;
      svg {
        display: none;
      }
    }

    &__container {
      height: 50%;
      padding: 0.5rem 0rem;
    }

    &__contents {
      justify-content: space-between;
      svg {
        display: block;
      }

      &__button {
        padding: r.rem(16px) r.rem(300px);

        @include b.buttons(
          v.$ea-dark-color,
          v.$ea-light-color,
          0px,
          none,
          none
        );

        &:hover {
          padding: r.rem(18px) r.rem(310px);
          margin: r.rem(-2px) r.rem(-4px);
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .banner-top {
    &__bg-image {
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(./assets/f1-banner-top-resize-750.png);
    }

    &__contents {
      svg {
        height: r.rem(96px);
        width: r.rem(300px);
      }
      &__title {
        font-size: r.rem(32px);
      }
      &__p {
        font-size: 1rem;
      }

      &__button {
        padding: r.rem(16px) r.rem(250px);

        @include b.buttons(
          v.$ea-dark-color,
          v.$ea-light-color,
          0px,
          none,
          none
        );

        &:hover {
          padding: r.rem(18px) r.rem(260px);
          margin: r.rem(-2px) r.rem(-4px);
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .banner-top {
    &__contents {
      &__button {
        padding: r.rem(16px) r.rem(220px);

        @include b.buttons(
          v.$ea-dark-color,
          v.$ea-light-color,
          0px,
          none,
          none
        );

        &:hover {
          padding: r.rem(18px) r.rem(230px);
          margin: r.rem(-2px) r.rem(-4px);
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .banner-top {
    &__bg-image {
      height: 50%;
      background-image: url(./assets/banner-top-photo-ea.png);
      background-color: v.$ea-dark-color;
    }
    &__container {
      margin-top: 0;
      height: 60%;
    }
    &__contents {
      &__title {
        font-size: r.rem(32px);
      }
      svg {
        height: r.rem(96px);
        width: r.rem(300px);
      }
      &__p {
        font-size: 1rem;
      }

      &__button {
        padding: r.rem(16px) r.rem(160px);

        @include b.buttons(
          v.$ea-dark-color,
          v.$ea-light-color,
          0px,
          none,
          none
        );

        &:hover {
          padding: r.rem(18px) r.rem(170px);
          margin: r.rem(-2px) r.rem(-4px);
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .banner-top {
    &__contents {
      &__button {
        padding: r.rem(16px) r.rem(120px);

        @include b.buttons(
          v.$ea-dark-color,
          v.$ea-light-color,
          0px,
          none,
          none
        );

        &:hover {
          padding: r.rem(18px) r.rem(130px);
          margin: r.rem(-2px) r.rem(-4px);
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .banner-top {
    &__contents {
      &__title {
        font-size: r.rem(28px);
      }

      &__button {
        padding: r.rem(16px) r.rem(90px);

        @include b.buttons(
          v.$ea-dark-color,
          v.$ea-light-color,
          0px,
          none,
          none
        );

        &:hover {
          padding: r.rem(18px) r.rem(100px);
          margin: r.rem(-2px) r.rem(-4px);
        }
      }
    }
  }
}
