@use 'px-to-rem' as c;
@use 'variabili';

.f-footer {
    padding: 1.25rem 0rem;
    background-color: variabili.$ea-light-color;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: c.rem(160px);

    &__content {
        width: 77.5%;
        display: flex;
    }

    &__links-section {
        width: 77.5%;
    }

    &__links {
        display: inline-block;
        margin: c.rem(12px) c.rem(40px) 0 0;
        text-decoration: none;
        color: variabili.$ea-dark-color;
        font-size: c.rem(16px);

        &:hover {
            color: variabili.$origin-brand-color;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__social-section {
        position: relative;
        width: 22.5%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.75rem;
    }

    &__catchphrase {
        font-size: c.rem(14px);
        margin-top: c.rem(12px);
        font-weight: bold;
        letter-spacing: c.rem(-0.25px);
        color: variabili.$ea-dark-color;
    }

    &__icons-container {
        display: flex;
        gap: 1.25rem;
    }

    &__icons {
        display: block;
        transition: transform 0.15s ease-in;

        &:hover {
            transform: scale(1.35);
            cursor: pointer;
        }
    }
}

//MEDIA QUERIES
@media screen and (max-width: 1200px) {
    .f-footer {
        &__content {
            width: 87.5%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .f-footer {
        min-height: 256px;

        &__content {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__links-section {
            width: 100%;
        }

        &__social-section {
            align-items: flex-start;
            width: 100%;
            gap: 1rem;
        }

        &__catchphrase {
            margin-top: c.rem(12px * 2);
        }
    }
}


@media screen and (max-width: 768px) {
    .f-footer {
        min-height: 388px;

        &__content {
            width: 90%;
        }

        &__links-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            border-bottom: 1px solid gray;
        }

        &__links {
            margin-right: 0;

            &:last-child {
                margin-bottom: 12px;
            }
        }
    }
}