@use 'px-to-rem' as converter;
@use 'variabili';

//utility classes

//centra l'elemento
%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

//centra orizzontalmente l'elemento
%center-horizontally {
    display: flex;
    justify-content: center;
}

//centra verticalmente l'elemento
%center-vertically {
    display: flex;
    align-items: center;
}

//definisce la formattazione delle voci presenti all'interno dei dropdown menu
%dropdown-menu-options-style {
    .white-nav-menu-section-list-item-dropdown-container-content-list-item {
        list-style: none;
        font-size: converter.rem(16px);
        font-weight: 100;
        width: max-content;
        margin: converter.rem(16px) 0;

        a:hover {
            cursor: pointer;
            color: variabili.$origin-brand-color;
        }
    }
}

//definisce lo stile dei dropdown menu
%dropdown-menu-style {
    .white-nav-menu-section-list-item-dropdown-container {
        &-content {
            &-list {
                padding: converter.rem(8px) converter.rem(32px);
                padding-right: converter.rem(40px);
                @extend %dropdown-menu-options-style;
            }
        }
    }
}

//rende l'elemento <header> sticky e lo posiziona in cima allo stacking order
header {
    position: sticky;
    top: 0;
    z-index: 1;
    transition: transform 0.4s ease-in-out;

    //navbar bianca
    .white-nav {

        background-color: #FFFFFF;
        display: flex;
        padding-left: converter.rem(16px);
        width: 100%;

        //Classe assegnata ai <div> contenenti il logo e le due icone dei menu(Mobile & Desktop)
        &-logos {
            @extend %center-vertically;
            height: converter.rem(56px);
            width: fit-content;

            //icona desktop del menu
            &:first-child {
                position: relative;

                .white-nav-logos-image {
                    height: converter.rem(20px);
                    width: converter.rem(24px);
                    display: block;
                    position: absolute;
                    transition: all 0.25s ease;

                    //Animazione sull'hover
                    &:hover {
                        transform: scale(1.40);
                        fill: variabili.$origin-brand-color;
                        cursor: pointer;
                    }
                }

                margin-left: 0;
            }

            //logo 'Electronic Arts'
            &:nth-child(2) {
                .white-nav-logos-image {
                    height: converter.rem(32px);
                    width: converter.rem(145px);
                    display: block;
                }

                margin-left: converter.rem(48px);
                margin-right: converter.rem(36px);
            }

            //icona mobile del menu (definita dai designer 'hamburger menu icon')
            &-hamburger-icon {
                display: none;
                transform: scale(0.70);

                //classe assegnata alle linee che vanno a comporre l'icona dell'hamburger menu
                &-line {
                    width: converter.rem(30px);
                    height: converter.rem(2.5px);
                    background-color: variabili.$ea-dark-color;
                    margin: converter.rem(7px) 0;
                }

                &:hover {
                    cursor: pointer;

                    .white-nav-logos-hamburger-icon-line {
                        background-color: variabili.$origin-brand-color;
                    }
                }
            }
        }

        //lista dei menu presenti nella navbar
        &-menu-section-list {
            display: flex;
            color: variabili.$ea-dark-color;
            list-style-type: none;

            //classe assegnata ad ogni menu presente nella navbar
            &-item {
                position: relative;
                margin-left: converter.rem(20px);

                //nome del menu
                &-title {
                    @extend %center-vertically;
                    width: fit-content;
                    height: converter.rem(56px);
                    font-size: converter.rem(18px);

                    //freccia accanto al nome del menu
                    &-arrow {
                        margin-left: converter.rem(4px);
                        display: inline-block;
                        margin-top: converter.rem(4px);
                        height: converter.rem(56px);

                        //da sostituire con l'utility class %center-vertically
                        display: flex;
                        align-items: center;

                        &::before {
                            content: "";
                            display: inline-block;
                            border: converter.rem(1px) solid variabili.$ea-dark-color;
                            border-radius: 5%;
                            height: 0px;
                            width: converter.rem(8px);
                            transform: rotate(45deg);
                            margin-right: converter.rem(-3.5px);
                            transition: transform 0.20s ease-in;
                        }

                        &::after {
                            content: "";
                            border: converter.rem(1px) solid variabili.$ea-dark-color;
                            border-radius: 5%;
                            display: inline-block;
                            height: 0px;
                            width: converter.rem(8px);
                            transform: rotate(-45deg);
                            transition: transform 0.20s ease-in;
                        }
                    }

                    //animazione della freccia sull'hover di .menu-section-title
                    &:hover {
                        cursor: pointer;

                        p {
                            color: variabili.$origin-brand-color;
                        }

                        a::after {
                            transform: rotate(45deg);
                            border-color: variabili.$origin-brand-color;
                        }

                        a::before {
                            transform: rotate(-45deg);
                            border-color: variabili.$origin-brand-color;
                        }
                    }
                }

                //classe assegnata al container di ogni dropdown menu
                &-dropdown-container {
                    background-color: transparent;
                    position: absolute;
                    top: converter.rem(56px);
                    max-height: 0px;
                    overflow: hidden;
                    transition: max-height 0.3s ease-in-out;
                    opacity: 0.9;

                    //classe assegnata al contenuto di ogni dropdown menu
                    &-content {
                        background-color: #FFFFFF;
                        margin-top: 0.5rem;
                        border-radius: converter.rem(4px);

                        a {
                            text-decoration: none;
                        }
                    }
                }

                //animazione dei dropdown menu sull'hover
                &:hover {
                    .white-nav-menu-section-list-item-dropdown-container {
                        max-height: converter.rem(300px);
                    }
                }

                //menu 'Giochi'
                &:first-child {
                    .white-nav-menu-section-list-item-dropdown-container {
                        &-content {
                            @extend %center-vertically;
                            justify-content: flex-start;
                            padding: converter.rem(16px) converter.rem(32px);
                            padding-right: 0;
                            gap: converter.rem(64px);

                            &-list {
                                @extend %dropdown-menu-options-style;

                                &-item {
                                    &:first-child {
                                        font-weight: 900;
                                        line-height: converter.rem(32px);
                                    }

                                    &:first-child:hover {
                                        a {
                                            color: variabili.$ea-dark-color;
                                        }
                                    }
                                }

                                &:nth-child(2) {
                                    margin-right: converter.rem(48px);
                                }
                            }
                        }
                    }
                }

                //menu 'Altre esperienze'
                &:nth-child(2) {
                    @extend %dropdown-menu-style;
                }

                //menu 'Informazioni'
                &:nth-child(3) {
                    @extend %dropdown-menu-style;
                }

                //menu 'Impegni'
                &:nth-child(4) {
                    @extend %dropdown-menu-style;
                }

                //menu 'Container'
                &:last-child {
                    @extend %dropdown-menu-style;
                }
            }
        }
    }

    // media queries
    @media screen and (max-width: 1032px) {
        .white-nav {
            justify-content: flex-start;

            //nasconde l'icona da mostrare solo in modalità desktop
            &-logos {
                &:first-child {
                    display: none;
                }

                //modifica la dimensione del logo
                &:nth-child(2) {
                    order: 2;
                    margin-left: converter.rem(16px);

                    .wh {
                        width: converter.rem(109px);
                        height: converter.rem(53px);
                    }
                }

                //mostra l'icona mobile
                &-hamburger-icon {
                    display: block;
                }
            }

            //masconde i menu nella navbar
            &-menu-section-list-item {
                display: none;
            }
        }
    }
}