@use 'px-to-rem' as c;
@use 'variabili';

//Utility classes
%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%center-horizontally {
    display: flex;
    justify-content: center;
}

%center-vertically {
    display: flex;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    transition: transform 0.4s ease-in-out;
}

//Navbar bianca
.white-nav {
    background-color: #FFFFFF;
    display: flex;
    padding-left: c.rem(16px);
    width: 100%;

    &__logos {
        @extend %center-vertically;
        height: c.rem(56px);
        width: fit-content;

        &:first-child {
            position: relative;
            margin-left: 0;
        }

        &:nth-child(2) {
            margin-left: c.rem(48px);
            margin-right: c.rem(36px);
        }

        &:nth-child(3) {
            display: none;
        }
    }

    &__desktop-menu {
        height: c.rem(20px);
        width: c.rem(24px);
        display: block;
        position: absolute;
        transition: all 0.25s ease;

        &:hover {
            transform: scale(1.40);
            fill: variabili.$origin-brand-color;
            cursor: pointer;
        }
    }

    &__main-logo {
        height: c.rem(32px);
        width: c.rem(145px);
        display: block;
    }

    &__mobile-menu-container {
        transform: scale(0.70);
    }

    &__mobile-menu {
        width: c.rem(30px);
        height: c.rem(2.5px);
        background-color: variabili.$ea-dark-color;
        margin: c.rem(7px) 0;
    }

    &__list {
        display: flex;
        color: variabili.$ea-dark-color;
        list-style-type: none;
    }

    &__item {
        position: relative;
        margin-left: c.rem(20px);

        &:hover {
            .white-nav__dropdown-container {
                max-height: c.rem(300px);
            }
        }
    }

    &__title-container {
        width: fit-content;
    }

    &__dropdown-container {
        background-color: transparent;
        position: absolute;
        top: c.rem(56px);
        left: c.rem(-32px);
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        opacity: 0.9;
    }
}

.title-content {
    height: c.rem(56px);
    font-size: c.rem(18px);
    @extend %center-vertically;

    &__arrow {
        margin-left: c.rem(4px);
        margin-top: c.rem(4px);
        height: c.rem(56px);
        @extend %center-vertically;

        &::before {
            content: "";
            display: inline-block;
            border: c.rem(1px) solid variabili.$ea-dark-color;
            border-radius: 5%;
            height: 0px;
            width: c.rem(8px);
            transform: rotate(45deg);
            margin-right: c.rem(-3.5px);
            transition: transform 0.20s ease-in;
        }

        &::after {
            content: "";
            border: c.rem(1px) solid variabili.$ea-dark-color;
            border-radius: 5%;
            display: inline-block;
            height: 0px;
            width: c.rem(8px);
            transform: rotate(-45deg);
            transition: transform 0.20s ease-in;
        }
    }

    &:hover {
        cursor: pointer;

        .title-content__text {
            color: variabili.$origin-brand-color;
        }

        .title-content__arrow::after {
            transform: rotate(45deg);
            border-color: variabili.$origin-brand-color;
        }

        .title-content__arrow::before {
            transform: rotate(-45deg);
            border-color: variabili.$origin-brand-color;
        }
    }
}

.dropdown-content {
    background-color: #FFFFFF;
    margin-top: 0.5rem;
    border-radius: c.rem(4px);

    &__link {
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: variabili.$origin-brand-color;
        }
    }

    &__list {
        padding: c.rem(8px) c.rem(32px);
        padding-right: c.rem(40px);
    }

    &__item {
        list-style: none;
        font-size: c.rem(16px);
        font-weight: 100;
        width: max-content;
        margin: c.rem(16px) 0;
    }

    &--large {
        @extend %center-vertically;
        justify-content: flex-start;
        padding: c.rem(16px) c.rem(32px);
        padding-right: 0;
        gap: c.rem(64px);

        .dropdown-content__item:first-child {
            font-weight: 900;
            line-height: c.rem(32px);

            &:hover {
                .dropdown-content__link:first-child {
                    color: variabili.$ea-dark-color;
                }
            }
        }

        .dropdown-content__list {
            padding: 0;
            padding-right: 0;

            &:last-child {
                margin-right: 48px;
            }
        }
    }
}

@media screen and (max-width: 1032px) {
    .white-nav {
        justify-content: flex-start;

        &__logos {
            &:first-child {
                display: none;
            }

            &:nth-child(2) {
                order: 2;
                margin-left: c.rem(16px);
            }

            &:nth-child(3) {
                display: flex;
                align-items: center;
            }
        }

        &__main-logo {
            width: c.rem(109px);
            height: c.rem(53px);
        }

        &__item {
            display: none;
        }
    }
}