// colori di default 
$ea-light-color: rgb(243,243,243);
$ea-dark-color: rgb(22,22,22);
$origin-brand-color: rgb(255,71,71);

// valori per il font weight di header, title, body
$fw_values: $body-w, $title-w, $header-w; 

// variabili font weight
$header-w: 600;
$title-w: 400;
$body-w: 100;

// variabili font size
$header: 54px;
$title: 35px;
$body: 16px;

