@font-face {
  font-family: "Electronic Arts Text";
  src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot");
  src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff") format("woff"), url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.svg#Electronic Arts Text") format("svg");
}
.fs-16px {
  font-size: rem(16px);
}

.fs-35px {
  font-size: rem(35px);
}

.fs-54px {
  font-size: rem(54px);
}

.fw-100 {
  font-weight: 100;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electronic Arts Text";
  color: rgb(22, 22, 22);
}

body {
  width: 100%;
  height: 100vh;
}

#giochi-in-evidenza h2 {
  font-size: 3.375rem;
  font-weight: 54px;
  text-align: center;
  padding: 1.2rem;
}
#giochi-in-evidenza .giochi-in-evidenza {
  margin: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1400px;
  gap: 1.3rem;
}
#giochi-in-evidenza .logo_img {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  height: auto;
  transition: top 0.4s ease-in-out;
}
#giochi-in-evidenza .logo_img_small {
  width: 25%;
}
#giochi-in-evidenza .logo_img_medium {
  width: 35%;
}
#giochi-in-evidenza .logo_img_big {
  width: 45%;
}
#giochi-in-evidenza .game-card-img-content {
  padding: 14px;
  align-items: center;
  background-position: center;
  background-size: cover;
  min-width: 310px;
  min-height: 310px;
  height: 20vw;
  width: 20vw;
  max-height: 380px;
  max-width: 380px;
  white-space: nowrap;
  position: relative;
  transition-duration: opacity 0.4s ease-in-out;
}
#giochi-in-evidenza .game-card-img-content::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 0.4s ease-in-out;
  background: linear-gradient(90deg, rgb(10, 3, 90), rgb(245, 20, 28));
  opacity: 0;
}
#giochi-in-evidenza .game-card-img-content a {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-weight: 400;
  display: none;
  color: white;
}
#giochi-in-evidenza .game-card-img-content-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/Apex-mobile-square-card.jpg");
}
#giochi-in-evidenza .game-card-img-content-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/F1-card.png");
}
#giochi-in-evidenza .game-card-img-content-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/battlefield-2042.jpg");
}
#giochi-in-evidenza .game-card-img-content-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/Fifa-Mbappe.jpg");
}
#giochi-in-evidenza .game-card-img-content-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/apex-legends-desktop.jpg");
}
#giochi-in-evidenza .game-card-img-content-6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/the-sims-4-.jpg");
}
#giochi-in-evidenza .game-card-img-content:hover {
  box-shadow: 0 14px 20px 0 rgba(80, 80, 80, 0.24);
}
#giochi-in-evidenza .game-card-img-content:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(10, 3, 90, 0.84), rgba(245, 20, 28, 0.84));
  background-size: 100%;
  background-position: center;
  opacity: 0.84;
}
#giochi-in-evidenza .game-card-img-content:hover .logo_img,
#giochi-in-evidenza .game-card-img-content:hover .logo_img_jpg {
  top: 33%;
  z-index: 2;
}
#giochi-in-evidenza .game-card-img-content:hover a {
  display: unset;
  color: white;
}

@media (max-width: 1023px) {
  #giochi-in-evidenza h2 {
    font-size: 2.5rem;
  }
  #giochi-in-evidenza .giochi-in-evidenza {
    width: 95%;
  }
  #giochi-in-evidenza .game-card-img-content {
    width: 35vw;
    height: 35vw;
  }
}
@media (max-width: 767px) {
  #giochi-in-evidenza h2 {
    font-size: 2rem;
  }
  #giochi-in-evidenza .giochi-in-evidenza {
    width: 95%;
  }
  #giochi-in-evidenza .game-card-img-content {
    width: 85vw;
    height: 85vw;
  }
}/*# sourceMappingURL=style.css.map */