@use 'modules/px-to-rem';
@use 'modules/variabili';
@use 'modules/navnera';
@use 'modules/white-nav-modules/white-nav';
@use 'modules/giochi-in-evidenza';
@use 'modules/first-footer-modules/first-footer';

// import del font
@font-face {
  font-family: "Electronic Arts Text";
  src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot");
  src: url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff") format("woff"), url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.svg#Electronic Arts Text") format("svg");
}

// typography
$fs_values: variabili.$body, variabili.$title, variabili.$header; // valori per il font di header, title, body

// creo 3 classi con un ciclo
@each $fs_value in $fs_values {
  .fs-#{$fs_value} {
    //ogni classe si caratterizza per un font-size diverso
    font-size: rem($fs_value);
  }
}

// creo 3 classi con un ciclo
@each $fw_value in variabili.$fw_values {
  .fw-#{$fw_value} {
    //ogni classe si caratterizza per un font-weight diverso
    font-weight: $fw_value;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electronic Arts Text";
  color: variabili.$ea-dark-color;
}

