@use '../px-to-rem' as converter;
@use '../variabili';

//utility classes

//centra l'elemento
%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

//centra orizzontalmente l'elemento
%center-horizontally {
    display: flex;
    justify-content: center;
}

//centra verticalmente l'elemento
%center-vertically {
    display: flex;
    align-items: center;
}

//definisce la formattazione delle voci presenti all'interno dei dropdown menu
%dropdown-menu-options-style {
    .white-nav_list_item_dropdown-container_content_list_item {
        list-style: none;
        font-size: converter.rem(16px);
        font-weight: 100;
        width: max-content;
        margin: converter.rem(16px) 0;

        a:hover {
            cursor: pointer;
            color: variabili.$origin-brand-color;
        }
    }
}

//definisce lo stile dei dropdown menu
%dropdown-menu-style {
    .white-nav_list_item_dropdown-container {
        &_content {
            &_list {
                padding: converter.rem(8px) converter.rem(32px);
                padding-right: converter.rem(40px);
                @extend %dropdown-menu-options-style;
            }
        }
    }
}