@use '../px-to-rem' as converter;
@use '../variabili';

//primo footer
.f-footer {
    padding: 1.25rem 0rem;
    background-color: variabili.$ea-light-color;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: converter.rem(160px);

    //contenuto del footer
    &-content {
        width: 77.5%;
        display: flex;

        //contenitore dei link che rimandano a sezioni del sito
        &-link-container {
            width: 77.5%;

            //links
            &-element {
                display: inline-block;
                margin: converter.rem(12px) converter.rem(40px) 0 0;
                text-decoration: none;
                color: variabili.$ea-dark-color;
                font-size: converter.rem(16px);

                &:hover {
                    color: variabili.$origin-brand-color;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        //contenitore sezione social
        &-social-container {
            position: relative;
            width: 22.5%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.75rem;

            //testo 'Partecipa alla conversazione'
            &-title {
                font-size: converter.rem(14px);
                margin-top: converter.rem(12px);
                font-weight: bold;
                letter-spacing: converter.rem(-0.25px);
                color: variabili.$ea-dark-color;
            }

            //icone social
            &-icon-container {

                &-element {
                    display: block;
                    transition: transform 0.15s ease-in;

                    &:hover {
                        transform: scale(1.35);
                        cursor: pointer;
                    }
                }

                display: flex;
                gap: 1.25rem;
            }

        }
    }
}

//media queries
@media screen and (max-width: 1200px) {
    .f-footer {

        //aumenta la grandezza del contenuto del footer se viene visualizzato su un dispositivo di risoluzione uguale o inferiore a 1200px
        &-content {
            width: 87.5%;
        }
    }
}


@media screen and (max-width: 1024px) {

    //definisce l'altezza minima del footer su dispositivi con una risoluzione uguale o inferiore a 1024px
    .f-footer {
        min-height: 256px;

        //applica una disposizione a colonna agli elementi che compongono il contenuto del footer
        &-content {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            //data la disposizione a colonna, i contenuti occupano il 100% della larghezza
            &-link-container {
                width: 100%;
            }

            &-social-container {
                align-items: flex-start;
                width: 100%;
                gap: 1rem;

                &-social-container-title {
                    margin-top: converter.rem(12px * 2);
                }
            }

        }
    }
}

@media screen and (max-width: 768px) {

    //definisce l'altezza minima del footer su dispositivi con una risoluzione uguale o inferiore a 768px
    .f-footer {
        min-height: 388px;

        //aumenta la grandezza del contenuto del footer se viene visualizzato su un dispositivo di risoluzione uguale o inferiore a 768px
        &-content {
            width: 90%;

            //applica una disposizione a griglia ai link del footer
            &-link-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0.5rem;
                border-bottom: 1px solid gray;

                &-element {
                    margin-right: 0;

                    &:last-child {
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}